.self {}

.maximum {
  font-size: .75em;
  align-items: center;
  justify-content: space-around;
  order: 1;
}

.maximumLabel {
  text-transform: capitalize;
}

.maximumValue {
  width: 5em;
}

.maximumValue,
.value {
  text-align: center;
}

.value {
  font-size: 2.5em;
  order: 2;
  width: 3em;
}
