.self {
  padding: .5em;
}

.label {
  font-size: .75em;
  font-weight: bold;
  order: 1;
  text-align: center;
  text-transform: uppercase;
}

.label.labelBelow {
  order: 2;
}

.children {
  order: 2;
  text-align: center;
}

.children.labelBelow {
  order: 1;
}
