.self {
  align-items: center;
  margin: .2em;
}

.label {
  font-size: .75em;
  margin-left: .2em;
  order: 3;
  text-transform: capitalize;
  white-space: nowrap;
}

.proficient {
  margin: .2em;
  order: 1;
}

.value {
  order: 2;
  text-align: center;
  width: 3em;
}
