.self {}

.container {
  display: flex;
  flex-direction: column;
}

.maximum {
  align-items: center;
  justify-content: space-around;
  order: 1;
}

.maximumLabel {
  font-size: .75em;
  text-transform: capitalize;
}

.maximumValue,
.value {
  text-align: center;
}

.value {
  font-size: 2.5em;
  order: 2;
}
