.self {
  padding: .5em;
}

.label {
  font-size: .75em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.modifier {
  font-size: 2em;
  width: 3em;
}

.modifier,
.value {
  text-align: center;
}

.value {
  font-size: 1.5em;
  width: 4em;
}
